<div class="well main-well">
	<div class="row">
		<div class="col-sm-3">
			<div class="dropdown">
			<!-- stavi search box u ovaj dropdown -->
			  <select class="form-control" ng-model="country">
				<option class="dropdown-header">Countries</option>
			  	<option ng-repeat="countryName in countries"value="{{countryName}}">{{countryName}}</option>
			  </select>
			</div>
			<h1>{{country | capitalize}}</h1>
			<h1>Zastava zemlje</h1>
		</div>

		<!--TOP ARTISTS -->
		<div class="col-sm-9">
			<h1>Top Artists</h1>
			<div class="geo-top-artist" ng-repeat="artist in topArtists | limitTo: 5">
				<div class="row">
					<div class="col-sm-6">
						<img class="geo-image img-thumbnail" src="{{artist.image[3]['#text']}}" alt="Geo Top Artist">
					</div>
					<div class="col-sm-6">
						<a class="geo-link" href="#artists/{{artist.name}}">{{artist.name}}</a>
						<p>Listeners: {{artist.listeners | commaOutNumber}}</p>
						<p>Url: <a href="{{artist.url}}" target="_blank">{{artist.url}}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- EVENTS da budu napravljeni slicno kao oni na last-fmu -->
	<div class="row">
		<div class="col-sm-12">
			<h1>Events</h1>
			<div class="list-group">
			 	<button type="button" disabled class="list-group-item pull-left" ng-repeat="event in events | limitTo: 10">
			 		<a href="#/events/{{event.id}}">{{event.title}} - ({{event.venue.location.city}})</a> 	 
			 		<p class="pull-right">{{event.startDate | editDate:displayDate}}</p>
				</button>
			</div>
		</div>
	</div>

	<!-- TOP TRACKS da budu napravljeni slicno kao oni na last-fmu -->
	<div class="row">
		<div class="col-sm-12">
			<h1>Top Tracks</h1>
			<div class="list-group">
			 	<button type="button" class="list-group-item" ng-repeat="track in topTracks | limitTo: 10">
			 		<p class="pull-left"> {{track.name}} - ({{track.artist.name}})</p>
			 		<p class="pull-right">Listeners : {{track.listeners | commaOutNumber}}</p>
			 	</button>
			</div>
		</div>
	</div>
</div>