.artist-portrait {
	width: 250px;
	height: 300px;
}

.artist-image {
	width: 200px;
	height: 150px;
}

.artist-link {
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.artist-link:hover {
	text-decoration: none;
}

.artist-info-box {
	text-align: center;
}