
.event-info {
	margin-bottom: 10px;
}

.event-venue {
	text-align: center;
}

.event-artists {

}

.event-title {
	margin-bottom: 20px;
	font-size: 48px;
}

.event-subtitle {
	margin-bottom: 20px;
	font-size: 24px;
}

.event-image {
	width: 250px;
	height: 200px;
}

.event-start-date {
	margin-top: 10px;
	margin-left: 5px;
}

.event-venue-info {
	margin-top: 10px;
}

#map-canvas {
        width: 500px;
        height: 400px;
      }