/******************************************
	=default
******************************************/

.main-well {
	margin-top: 55px;
}

.main-well  h1 {
	text-align: center;
}

.category h1 {
	text-align: center;
	
}

.home-well {
    //background: rgba(204, 0, 0, 0.7);
}


.home-frame {
	float: left;
	margin-right: 30px;
	text-align: center;	
}

.home-frame-image {
	width: 200px;
	height: 150px;	
	margin-bottom: 5px;
}

.home-frame-link {
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.home-tracks-link {
	text-decoration: none;
	color: black;	
}

.home-frame-link:hover {
	text-decoration: none;
}

.home-frame-small-text {
	text-align: center;
	font-size: 12px;
	text-decoration: none;
}

.top-artist-name {
	margin-top: 5px;
	font-size: 25px;
	text-decoration: none;
}

.home-frame-tag-link {
	text-align: center;
	font-size: 25px;
	margin-right: 25px;
	text-decoration: none;
	color: black;
}	

.home-frame-tag-link:hover {
	text-decoration: none;
}


/******************************************
	=footer
******************************************/

#footer {
	width: 100%;
	background: #333;
	color: #eee;
	padding: 20px;

}

.footer-title {
	text-align: center

}

.footer-logo {
	float: left;
	margin-left: 20px;
}