	<!-- WELCOME BOARD -->

	<div class="row main-well">
		<div class="col-12">
			<div class="well main-well home-well">
				<div class="page-header">
					<h1>ZORKAN SOUND</h1>
				</div><!-- end page-header -->
				
				<p class="lead">Zorkan's project to test out AngularJS and Twitter's Bootstrap to get a decent job one day. Use last.fm API to discover evertyhing about today's music scene, from hottest artist to top tracks to coolest current concerts and events</p>
				
			</div><!-- end well -->
		</div><!-- end col-12 -->
	</div>
	
	<!-- ARTISTS -->

	<div class="row">
		<div class="col-12">
			<div class="panel panel-primary category">
				<div class="panel-heading">
					<h1>ARTISTS</h1>					
				</div>
				<div class="panel-body">
					<div class="col-sm-3" ng-repeat="artist in topArtists | limitTo: displayNumber">
						<div class="home-frame">
							<img class="home-frame-image img-thumbnail" src="{{artist.image[3]['#text']}}" alt="Top Artist">
							<p>
								<a class="home-frame-link" href="#/artists/{{artist.name}}">{{artist.name}}</a>
							</p>
							<p class="home-frame-small-text" ng-show="checkAttribute({{artist.listeners}})">Listeners: {{artist.listeners | commaOutNumber}}</p>							
						</div>								
					</div>			
				</div>
			</div><!-- end well -->
		</div><!-- end col-12 -->
	</div>

	<!-- EVENTS -->

	<div class="row">
		<div class="col-12">
			<div class="panel panel-danger category">
				<div class="panel-heading">
					<h1>EVENTS</h1>	
					
					<select class="form-control" ng-model="country">
	 					<option value="new york" selected>New York</option>
					  	<option value="london">London</option>
					  	<option value="paris">Paris</option>
					  	<option value="zagreb">Zagreb</option>
					  	<option value="beograd">Beograd</option>					  	
					</select>		
									
				</div>
				<div class="panel-body">
					<div class="col-sm-3" ng-repeat="event in geoEvents | limitTo: displayNumber">
						<div class="home-frame">
							<!-- recieved image -->
							<img class="home-frame-image img-thumbnail" src="{{event.image[3]['#text']}}" alt="Event">
							<p>
								<a class="home-frame-link" href="#/events/{{event.id}}">{{event.title}} </a>
							</p>
							<p class="home-frame-small-text">
								({{event.venue.location.city}})
							</p>
							<p class="home-frame-small-text">{{event.startDate | editDate:displayDate}}</p>
						</div>								
					</div>			
				</div>
				
			</div><!-- end well -->
		</div><!-- end col-12 -->
	</div>
	
	<!-- TRACKS -->

	<div class="row">
		<div class="col-12">
			<div class="panel panel-warning category">
				<div class="panel-heading">
					<h1>TRACKS</h1>
				</div>
				<div class="panel-body">				
					<div class="list-group">
					 	<button type="button" disabled class="list-group-item" ng-repeat="track in topTracks | limitTo: displayNumberTracks">
					 		<p class="pull-left"> {{track.name}} - <a class="home-tracks-link" href="#/artists/{{track.artist.name}}">	({{track.artist.name}})</a></p>
					 		<p class="pull-right">Listeners : {{track.listeners}}</p>
					 	</button>
					</div> <!-- end list group -->
				</div><!-- end panel body -->
			</div>
		</div><!-- end col-12 -->
	</div>

	<!-- TAGS -->

	<div class="row">
		<div class="col-12">
			<div class="panel panel-success category">
				<div class="panel-heading">
					<h1>TAGS</h1>					
				</div>
				<div class="panel-body">
					<a class="home-frame-tag-link" href="#/tag/{{tag.name}}" ng-repeat="tag in topTags">		{{tag.name}}
					</a>															
				</div>
				
			</div><!-- end well -->
		</div><!-- end col-12 -->
	</div>

