<div class="well main-well">
	
	<div class="row album-frame">
			<div class="col-sm-4">
				<img src="{{albumInfo.image[3]['#text']}}" alt="Album Image">
				<!--
				<img src="images/albumReplacementImage.jpg" ng-hide="hasAlbumImage({{albumInfo.image[3]['#text']}})" alt="Album Image">
				-->
				<!--
				<a class="home-frame-tag-link" href="#/tag/{{tag.name}}" ng-repeat="tag in albumInfo.tags.tag">	
					{{tag.name}}
				</a>	
				-->
			</div>
			<div class="col-sm-8">
				<h1>{{albumInfo.name}}</h1>
				<p>{{albumInfo.wiki.summary}}</p>
			</div>			
	</div><!--end row -->
	
	<div class="album-frame">
		<div class="list-group">
		 	<button type="button" disabled class="list-group-item" ng-repeat="track in albumInfo.tracks.track | limitTo: 10">
		 		<p class="pull-left"> {{track.name}}</p>
		 		<p class="pull-right">{{track.duration | secondsToMinutes}}</p>
		 	</button>
		</div> <!-- end list group -->
	</div><!--end album-frame -->

</div>
