<!doctype html>
<html ng-app="zorkansound">
    <head>
        <meta charset="UTF-8">
        <title>Zorkan Sound</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css">

        <link rel="stylesheet" href="styles/home.css">
        <link rel="stylesheet" href="styles/artist.css">
        <link rel="stylesheet" href="styles/album.css">
        <link rel="stylesheet" href="styles/error.css">
        <link rel="stylesheet" href="styles/event.css">
        <link rel="stylesheet" href="styles/events.css">
        <link rel="stylesheet" href="styles/geo.css">
  
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../node_modules/angular/angular.js"></script>
        <script src="../node_modules/angular-route/angular-route.js"></script>
        <script src="../node_modules/angular-ui-router/build/angular-ui-router.js"></script>
      
      <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->

        <script src="scripts/home/homeController.js"></script>        
        <script src="scripts/artist/artistController.js"></script>
        <script src="scripts/events/eventsController.js"></script>
        <script src="scripts/event/eventController.js"></script>
        <script src="scripts/geo/geoController.js"></script>
        <script src="scripts/album/albumController.js"></script>
        <script src="scripts/charts/chartsController.js"></script>
        <script src="scripts/tag/tagController.js"></script>
    
        <script src="scripts/animations.js"></script>
        <script src="scripts/shared/api.js"></script>
        <script src="scripts/shared/filters.js"></script>
        <script src="app.route.js"></script>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Zorkan Sound</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#/events"> Events</a>          
                            </li>
                            <li>
                                <a href="#/charts"> Charts</a>          
                            </li>
                            <li>
                                <a href="#/geo"> Geo</a>          
                            </li>
                        </ul>
                      
                        <!-- Search box -->
                        <!--
                        <form class="navbar-form navbar-left" role="search">
                            <input type="text" class="form-control" placeholder="Find Artists..." ng-model="artistName">
                            <button type="button" ng-click="findArtist(artistName)" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>              
                        </form>
                        -->
                        <!-- Right part of navigation bar -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> My Account <strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                                    </li>

                                    <li role="separator" class="divider"></li>

                                    <li>
                                        <a href="#"><span class="glyphicon glyphicon-off"></span> Sign Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- end navbar-right -->

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div ng-view></div>

        </div> <!-- end app-container -->
        
        <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    
                    <div class="col-sm-5">
                        <h4 class="footer-title">About Us</h4>
                        <p class="footer-text">Zorkan's project to test out AngularJS and Twitter's Bootstrap to get a decent job one day. Use last.fm API to discover evertyhing about today's music scene, from hottest artist to top tracks to coolest current concerts and events</p>
                    </div><!-- end col-sm-5 -->
                    
                    <div class="col-sm-5">
                        <h4 class="footer-title">Follow Us</h4>
                            
                            <a href="https://facebook.com" target="_blank">
                                <img src="images/facebook.png" alt="Facebook Logo" class="footer-logo" data-toggle="tooltip" data-placement="top" data-original-title="Facebook">
                            </a>
                            
                            <a href="https://twitter.com" target="_blank">
                                <img src="images/twitter.png" alt="Twitter Logo" class="footer-logo" data-toggle="tooltip" data-placement="top" data-original-title="Twitter">
                             </a>

                            <a href="https://plus.google.com" target="_blank">
                                <img src="images/googlePlus.png" alt="Google Plus Logo" class="footer-logo" data-toggle="tooltip" data-placement="top" data-original-title="Gogle+">
                            </a>
                    </div><!-- end col-sm-5 -->
                    
                    <div class="col-sm-2">
                        <h4 class="footer-title">Author</h4>
                        <p class="footer-text">Coded with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by Zorkan</p>  
                    </div><!-- end col-sm-2 -->

                </div><!-- end row -->
            </div><!-- end container -->
        </footer>

    </body>
</html>
