<div class="well main-well">
	

	<!-- ARTIST INFO -->
	<div class="row">
		<div class="col-sm-3"> 
			<div>
				<img class="artist-portrait img-thumbnail" src="{{artistInfo.image[3]['#text']}}" alt="Artist">
			</div>
			<div>
				<a class="home-frame-tag-link" href="#/tag/{{tag.name}}" ng-repeat="tag in artistInfo.tags.tag">
					{{tag.name}}
				</a>
			</div>
		</div><!-- end col-3 -->
		<div class="col-sm-9">
			<h1 class="artist-title">{{artistInfo.name}}</h1>
			<p>{{artistInfo.bio.summary | removeHTMLTags}}</p>
		</div><!--end col-sm-9 -->
	</div><!--end row -->

	<!-- SIMILAR ARTISTS -->
	<div class="row">
		
		<h1>Similar artists</h1>
		<div class="col-sm-3" ng-repeat="artist in artistInfo.similar.artist | limitTo: 4">
			<div class="artist-info-box">
				<img class="artist-image img-thumbnail" src="{{artist.image[3]['#text']}}" alt="Similar Artist">
				<h1>
					<a class="artist-link" href="#artists/{{artist.name}}">{{artist.name}}</a>		
				</h1>
			</div><!---->						
		</div>	
	</div><!--end row -->

	<!-- EVENTS AND TOP ALBUMS -->
	<div class="row">

		<!-- EVENTS -->
		<div class="col-sm-6">
			<h1>Events</h1>
			<div class="" ng-repeat="event in events | limitTo:5">
				<div class="row">
					<div class="col-sm-6">
						<img class="artist-image img-thumbnail" src="{{event.image[3]['#text']}}" alt="Event">
					</div>
					<div class="col-sm-6">
						<a class="artist-link" href="#events/{{event.id}}">{{event.title}}</a>
						<p>{{event.startDate | editDate: displayDate}}</p>
						<p>{{event.venue.location.city}} - {{event.venue.location.country}}</p>
					</div>
				</div><!-- end row -->
			</div><!-- artist-info -->
		</div><!-- end col -sm-6 -->

		<!-- ALBUMS -->
		<div class="col-sm-6">
			<h1>Albums</h1>
			<div class="" ng-repeat="album in topAlbums | limitTo:5">
				<div class="row">
					<div class="col-sm-6">
						<img class="artist-image img-thumbnail" src="{{album.image[3]['#text']}}" alt="Event">
					</div>
					<div class="col-sm-6">
						<a class="artist-link" href="#album/{{album.artist.name}}/{{album.name}}">{{album.name}}</a>
					</div>
				</div><!-- end row -->
			</div><!-- end artist-info -->
		</div><!-- end col -sm-6 -->

	</div><!-- end row -->
	

</div>