<div class="well main-well">
	<div class="jumbotron">
		<div class="container">
			<div class="error-info">
				<h1>404 ERROR NOT FOUND</h1>
				<p>The page is missing or it might be removed from the server. Sorry about that.</p>
				<img src="http://www.picturesanimations.com/s/sorry/PLEASE7E11.jpg" alt="Sorry">
				<a class="btn btn-primary btn-block" href="#">Get Back to Homepage</a>
			</div>
		</div>
	</div>
</div>