<div class="well main-well">
	<h1>Events <small>in {{country | capitalize}}</small> </h1>

<form class="input-group">
   <span class="input-group-addon glyphicon glyphicon-search"></span>
  <input type="text" placeholder="Search for Countries and Cities..." class="form-control" ng-model="countryInput">
  <span class="input-group-addon" ng-click="getCountryInput(countryInput)">Go</span>
</form>

<div class="row">
	
	<!-- EVENTS -->
	<div class="col-sm-9">
	<h1>RECOMMENDED EVENTS</h1>
		<div class="list-group">
		 	<button type="button" disabled class="list-group-item" ng-repeat="event in events | limitTo: 10">
		 		<div class="row">
		 			<div class="col-sm-6">
					<a href="#/events/{{event.id}}">{{event.title}} - ({{event.venue.location.city}})</a>
		 				
		 			</div>
		 			<div class="col-sm-6">
			 		<p class="pull-right">{{event.startDate | editDate:displayDate}}</p>
	 				
		 			</div>
		 		</div>
		 	</button>
		</div> <!-- end list group -->
	</div>

	<!-- SEARCH FOR COUNTRIES -->
	<div class="col-sm-3">	
	<h1>EVENTS IN OTHER COUNTRIES</h1>
		<ul class="list-group">
			<li class="list-group-item events-list-item" ng-repeat="countryName in countries"  ng-click="getCountryInput(countryName)">{{countryName}}</li>
		</ul>
	</div>
</div>