<div class="main-well">
	
	<!-- INFO -->
	<div class="row">
		<div class="jumbotron">
			<h1>{{tagName}} <small>Info once lastfm fixes API</small></h1>
		</div>
	</div>


	<div class="row">

		<!-- TOP ARTISTS -->
		<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1>TOP ARTISTS</h1>
				</div>
				<div class="panel-body">
					<div ng-repeat="artist in topArtists | limitTo: tagDisplay">
						<p>
							<a href="#/artists/{{artist.name}}">{{artist.name}}</a>
						</p>
					</div><!-- end artist-name-display -->		
				</div><!- end panel-body -->
			</div><!-- end panel -->
		</div><!-- end col-sm-4 -->

		<!-- TOP TRACKS -->
		<div class="col-sm-4">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h1>TOP TRACKS</h1>
				</div>
				<div class="panel-body">
					<div ng-repeat="track in topTracks |limitTo: tagDisplay">
						{{track.name}} - ({{track.artist.name}})
					</div><!-- end track-name -->						
				</div><!-- end panel-body-->
			</div><!-- end panel -->
		</div><!-- end col-sm-4 -->

		<!-- SIMILAR TAGS -->
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h1>SIMILAR TAGS</h1>
				</div>
				<div class="panel-body">
					<div ng-repeat="tag in similar | limitTo: tagDisplay">
						<p>
							<a href="#/tag/{{tag.name}}">
								{{tag.name}}
							</a>
						</p>
							
					
					</div><!-- end tag-name -->						
				</div><!-- end panel-body-->
			</div><!-- end panel -->
		</div><!-- end col-sm-4 -->
		
	</div><!-- end row -->

</div><!--end main-well-->