<div class="main-well">
	<h1>Charts</h1>
	<!-- HYPED AND TOP TRACKS -->
	<div class="row">
		
		<!-- HYPED TRACKS -->
		<div class="col-sm-6">
			<div class="panel panel-danger">
				<div class="panel-heading text-center">
					<h1>Hyped Tracks</h1>
					<p>The fastest rising tracks</p>				
				</div>
				<div class="panel-body">
					<div ng-repeat="track in hypedTracks | limitTo: displayData">
						{{track.name}}
					</div>
				</div>
			</div>
		</div>
		
		<!-- TOP TRACKS -->
		<div class="col-sm-6">
			<div class="panel panel-danger">

				<div class="panel-heading text-center">
					<h1>Top Tracks</h1>
					<p>Tracks with the most listeners</p>			
				</div>
				<div class="panel-body">
					<div ng-repeat="track in topTracks | limitTo: displayData">
						{{track.name}}
					</div>					
				</div>
			</div>
		</div>
	</div>

	<!-- HYPED AND TOP ARTISTS -->
	<div class="row">

		<!-- HYPED ARTISTS -->	
		<div class="col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading text-center">
					<h1>Hyped artists</h1>
					<p>The fastest rising artists</p>			
				</div>
				<div class="panel-body">
					<div ng-repeat="artist in hypedArtists | limitTo: displayData">
						{{artist.name}}
					</div>					
				</div>
			</div>
		</div>
	

		<!-- TOP ARTISTS -->
		<div class="col-sm-6">
			<div class="panel panel-success">
				<div class="panel-heading text-center">
					<h1>Top Artists</h1>
					<p>Artist with the most listeners</p>		
				</div>
				<div class="panel-body">
						<div ng-repeat="artist in topArtists | limitTo: displayData">
						{{artist.name}}
					</div>				
				</div>
			</div>			
		</div>



	</div>

	<!-- LOVED TRACKS -->
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading text-center">
					<h1>Loved Tracks</h1>
					<p>Tracks loved by the most listeners </p>		
				</div>
				<div class="panel-body">
					<div ng-repeat="track in lovedTracks | limitTo: displayData">
						{{track.name}}
					</div>					
				</div>
			</div>
		</div>
	</div>

</div>