<div class="well main-well">
	<h1 class="event-title">{{eventInfo.title}}</h1>
	
	<!-- IMAGE, TITLE AND DESCRIPTION -->
	<div class="row">
		<!-- image -->
		<div class="col-sm-4">
			<div class="event-info">
				<img src="{{eventInfo.image[3]['#text']}}" class="event-image img-thumbnail" ng-show="hasConcertImage" alt="Event Replacement Image">
				<img src="images/concertReplacementImage.jpg" class="event-image img-thumbnail" ng-hide="hasConcertImage" alt="Concert Replacement Image">
				<p class="event-start-date">
					{{eventInfo.startDate | editDate: displayDate}}
				</p>		
			</div>
		</div>
		<!-- title and description -->
		<div class="col-sm-8">
			
			{{eventInfo.description |removeHTMLTags}}
		</div>
	</div>

	
	<div class="row">
		<!-- Venue -->
		<div class="col-sm-6">	
			<div class="event-venue">
				<h1 class="event-subtitle">Venue</h1>	
				<div class="row">
					<div class="col-sm-6">
						<!-- recieved image -->
						<img src="{{eventInfo.venue.image[3]['#text']}}" class="event-image img-thumbnail" ng-show="hasVenueImage" alt="Venue">
						<!--replacement image -->
						<img src="images/venueReplacementImage.jpeg" class="event-image img-thumbnail" ng-hide="hasVenueImage" alt="Venue">
					</div>
					<div class="col-sm-6">
						<div class="event-venue-info">
							<p>{{eventInfo.venue.name}}</p> 
							<p>{{eventInfo.venue.location.city}} ({{eventInfo.venue.location.country}})</p>
						</div>
						
					</div>
				</div>				
			</div>	

		</div>

		<!-- Artist -->
		<div class="col-sm-6">
			<h1 class="event-subtitle">Artists</h1>
			<div class="event-artists">
				<div class="list-group">
				 	<button type="button" disabled class="list-group-item" ng-repeat="artist in eventInfo.artists.artist | limitTo: seeMoreCounter">
						<p> 
							<a href="#/artists/{{artist}}">{{artist}}</a>
						</p>
					</button>
					<button type="button" ng-click="seeMore()" ng-hide="seeMoreLeft()" class="btn btn-primary btn-block">See More</button>
				</div> <!-- end list group -->					
			</div>
		
		</div>	
	</div>	

</div>